<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/teamteach/home">Home</a></td>
        <td><a href="{{site.baseurl}}/teamteach/data-abstractions">Data Abstraction</a></td>
        <td><a href="{{site.baseurl}}/teamteach/algorithms">Algorithms</a></td>
        <td><a href="{{site.baseurl}}/teamteach/dom">N/A</a></td>
        <td><a href="{{site.baseurl}}/teamteach/javascript">N/A</a></td>
        <td><a href="{{site.baseurl}}/teamteach/js-debug">N/A</a></td>
    </tr>
</table>