<table>
    <tr>
        <td><img src="{{site.baseurl}}//images/logo.png" height="60" title="Frontend" alt=""></td>
        <td><a href="{{site.baseurl}}/teamteach/home">Home</a></td>
        <td><a href="{{site.baseurl}}/teamteach/data-abstractions">Data Abstraction</a></td>
        <td><a href="{{site.baseurl}}/teamteach/algorithms">Algorithms</a></td>
        <td><a href="{{site.baseurl}}/teamteach/iterations">Iterations</a></td>
        <td><a href="{{site.baseurl}}/teamteach/developing-algorithms">Developing Algorithms</a></td>
        <td><a href="{{site.baseurl}}/teamteach/lists-operations">Lists and Operations</a></td>
        <td><a href="{{site.baseurl}}/teamteach/dev-procedures">Developing Procedures</a></td>
        <td><a href="{{site.baseurl}}/teamteach/pylib">Python Libraries</a></td>
    </tr>
</table>